body {
    position: relative;
    font-family: Arial;
}


.imgTitle{
    background-image: url("./images/banner.png");
    height: 50vh;
}
.imgReg{
    background-image: url("./images/bannerReg.png");
    height: 20vh;
}
.imgCon{
    background-image: url("./images/bannerCon.png");
    height: 20vh;
}
.bannerTitle{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    display: block;
}


.selecMoment{
    margin-top: 3%;
    margin-bottom: 5%;
    width: 100%;
    border-bottom: solid black ;
}
.reservBtn{
    margin-bottom: 15%;
    font-size: 30px;
    height: 60%;
    width: 100%;
    font-style: italic;
}
.selecMoment h2{
    font-size: 60px;
    font-style: italic;
    font-weight: bolder;
}
.imageCard{
    height: 230px;
}

.cardMoment{
    margin: 15px auto 5em auto;
}
.submit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.forms{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    box-shadow: 5px 5px 5px 5px #BFBFBF ;
    padding: 10px;
}
.form-label{
    font-size: 20px;
}

#formCon{
    margin-top: 2em;
}

/*********************************************************PAGE PAIEMENT************************************************/
.btn{
    margin-top: 50px;
    margin-left: 250px;
    margin-bottom: 50px;
    width: 100px;
}

.container{
    margin-top: 50px;
    border: 1px solid #e28383;
    border-radius: 10%;
    background: linear-gradient(#e66465, #9198e5);
    
}

.row{
    display: flex;
    justify-content: center;
}