body {
    position: relative;
    font-family: Arial;
}
.imgProfil{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 20%;
    margin-left: 40%;
}
/************************* start bannière *************************/

.bannerTitle{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    display: block;
}
.imgTitle{
    background-image: url("./images/banner.png");
    height: 50vh;
}
.imgReg{
    background-image: url("./images/bannerReg.png");
    height: 20vh;
}

.imgCon{
    background-image: url("./images/bannerCon.png");
    height: 20vh;
}
/************************* end bannière *************************/

#formCon{
    margin-top: 2em;
}


/************************* start icon login *************************/
.fas{
    font-size: 36px;
    color: white;
}
.dropdown{
    position: relative;
}

/************************* end icon login *************************/

/************************* start sidebar *************************/
.sidebarclass{
    background-color: #F79405;
    margin-bottom: 0;
}
.sidebar{
    color: white;
}
.titleSideBar{
    margin: auto;
    text-align: center;
    height: 3%;
    padding-top: 20%;
    padding-bottom: 20%;
}
.sidebar:hover{
    background-color: white;
    color: #F79405;
}
.leftSideBar{
    width: 20%;
}
/************************* end sidebar *************************/

/****************** start bouton page index ********************/

.reservBtn{
    margin-bottom: 15%;
    font-size: 30px;
    height: 60%;
    width: 100%;
    font-style: italic;
}
/****************** end bouton page index ********************/

.selecMoment{
    margin-top: 3%;
    margin-bottom: 5%;
    width: 100%;
    border-bottom: solid black ;
}

.selecMoment h2{
    font-size: 60px;
    font-style: italic;
    font-weight: bolder;
}

/****************** start card ********************/
.imageCard{
    height: 230px;
}

.cardMoment{
    margin: 15px auto 5em auto;
}
.fa-shopping-cart {
    margin-right:20px;
}
/****************** end card ********************/

/****************** start css formulaires ********************/
.submit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.forms{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    box-shadow: 5px 5px 5px 5px #BFBFBF ;
    padding: 10px;
}
#formCon{
    margin-top: 2em;
}
.form-label{
    font-size: 20px;
}
/****************** end css formulaires ********************/

/********* start css carte user *****************************/
.infoUser{
    width: 100%;
}
.infoUserBody{
    width: 60%;
}
.cardUser{
    margin-top: 10%;
    margin-left: 20%;
    width: 40%;
    background-color: #efefef;
    cursor: pointer;
    transition: all 0.5s
}

.image imgCard {
    transition: all 0.5s
}

.cardUser:hover .image img {
    transform: scale(1.5)
}
.btnCardUser {
    height: 140px;
    width: 140px;
    border-radius: 50%
}
.name {
    font-size: 22px;
    font-weight: bold
}
.idd {
    font-size: 12px
}
.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}
/********* end css carte user *****************************/

/********* start css article *****************************/
.new-article > .form-group {
    margin-bottom:10px;
}
.more {
    max-width:100px;
    font-size: 12px;
    padding:unset;
    position:absolute;
    right:10px;
    bottom:10px;
}
/********* end css article *****************************/

/********************* start PAGE PAIEMENT *******************/
.btnPaiement{
    margin-top: 50px;
    margin-left: 250px;
    margin-bottom: 50px;
    width: 100px;
}

.containerPaiement{
    margin-top: 50px;
    border: 1px solid #e28383;
    border-radius: 50px;
    background: linear-gradient(#e66465, #9198e5);
}

.rowPaiement{
    display: flex;
    justify-content: center;

}
/********************* end PAGE PAIEMENT *******************/

/****************** start accès page réservation ***********/
.access{
    font-weight: bold;
    width: 600px;
    height: 250px;
    margin: 200px auto;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0, .4);
    text-align: center;
    padding-top: 1px;

}
/****************** end accès page réservation ***********/

/*********************** start médias queries *****************/
@media (min-width: 1000px) {
    .dropdown-menu[data-bs-popper]{
        margin-right: 10%;
        position: absolute;
        right: 0;
        left:inherit;
    }
}
@media (max-width: 999px) {
    .dropdown-menu[data-bs-popper]{
        width: 30%;
    }
}

/*********************** end médias queries *****************/